
@import (inline) "../node_modules/purecss/build/pure.css";
@import (inline) "../node_modules/purecss/build/grids-responsive-min.css";


// Fonts
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src:
		local('Lato Regular'),
		local('Lato-Regular'),
		/* from http://fonts.gstatic.com/s/lato/v11/9k-RPmcnxYEPm8CNFsH2gg.woff */
		url('../fonts/Lato_400.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/lato/v11/v0SdcGFAl2aezM9Vq_aFTQ.ttf */
		url('../fonts/Lato_400.ttf') format('truetype');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src:
		local('Lato Bold'),
		local('Lato-Bold'),
		/* from http://fonts.gstatic.com/s/lato/v11/wkfQbvfT_02e2IWO3yYueQ.woff */
		url('../fonts/Lato_700.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/lato/v11/DvlFBScY1r-FMtZSYIYoYw.ttf */
		url('../fonts/Lato_700.ttf') format('truetype');
}
@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	src:
		local('Lato Italic'),
		local('Lato-Italic'),
		/* from http://fonts.gstatic.com/s/lato/v11/oUan5VrEkpzIazlUe5ieaA.woff */
		url('../fonts/Lato_400italic.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/lato/v11/LqowQDslGv4DmUBAfWa2Vw.ttf */
		url('../fonts/Lato_400italic.ttf') format('truetype');
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: "Lato", sans-serif;
}

@monospace-font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;

// colors
@active-color: rgb(255, 98, 40);
@link-color: rgb(50, 34, 230);


// Normalize sizing.
* {
	box-sizing: border-box;
}

// tags
body {
  padding: 16px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
	color: #666;
}

pre {
  font: @monospace-font;
}

h1 {
	text-align: right;
}

h2 {
	color: rgb(130, 39, 0);
}

h3 {
	color: rgb(198, 5, 5);
}

h4 {
  margin: 0px 1em 0px 0px;
  border-bottom: 1px solid gray;
}

h5 {
  font-size: 1em;
  margin: 5px;
  em {
    color: #888;
  }
}

a {
  text-decoration: none;
  color: @link-color;
  &:hover {
    color: @active-color;
  }
}

code {
  font: @monospace-font;
  font-size: small;
  color: #586E75;
  background-color: #FDF6E3;
  padding: 0px 2px;

  pre & {
    display: block;
    background-color: transparent;
    border: 1px solid #aaa;
    border-radius: 5px;
  }
}

input[type=search] {
  border-radius: 25px;
  padding: 2px 0.62em;
  outline: none;
  &:focus {
    background-color: rgb(173, 244, 254);
  }
}

// custom elements
live-example {
  border: 1px dashed gray;
  display: block;
  border-radius: 12px;
  padding: 4px;
  h3 {
    margin-bottom: 0px;
    text-align: center;
  }
}

// helpers
.pull-right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-right {
	text-align: right;
}

.pad {
	padding: 0.35em;
	i, h4 {
		display: block;
		text-align: center;
	}

	h4 {
		min-height: 5ex;
	}
}

// semantic
.headline {
  font-size: 4em;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translate(0, -50%);
  text-align: center;

  img {
    display: block;
    margin: 0 auto;
  }

  .logo {
    width: 80%;
  }

  .bound & {
    z-index: -1;
    opacity: 0;
    transition: 1s;
  }
}

.page {
  opacity: 0;
  .bound & {
    opacity: 1;
    transition: 1s 0.4s;
  }
}


.header {
  width: 100%;
  padding-top: 5px;
  border-bottom: 1px solid #aaa;
  min-height: 32px;

  a {
    font-size: 1.1em;
    padding: 4px 0.5em;
  }

  img {
    max-height: 26px;
  }
}


.footer {
	padding: 0.62em;
  margin-top: 25px;

  .links {
    padding: 0px;
    line-height: 1.45em;
    list-style: none;
  }
}


.main {
  min-height: 60%;
  min-height: calc(~"100vh - 180px");
}

.docs-list {
	ul {
		columns: 2;
		column-rule: 1px dotted #CCC;
	}
	li {
		list-style: none;
		border-bottom: 1px dotted #CCC;
		padding-bottom: 3px;
		margin-bottom: 3px;
		break-inside: avoid-column;
	}
}


.error {
  padding: 1em;
  border: 1px solid rgb(113, 11, 29);
  color: rgb(113, 11, 29);
  border-radius: 12px;
}

.example {
  padding: 10px 1em;
  box-shadow: inset -2px -2px 6px rgb(255, 193, 74),
              inset 2px 2px 6px #8f7b29;
  background-color: #e2b84c;
  min-height: 50px;
  border-radius: 5px;
  width: 90%;
  margin: 0px auto;
}

.example-centered {
  text-align: center;
}


.plugin-extras {
  color: #aaa;
  font-size: 0.95em;
}


.plugin-repo {
  text-align: right;
  line-height: 1.25em;
}


.plugin-owner {
  display: block;
  font-style: italic;
  font-size: 0.95em;


}

// Amendind 3rd party styles.
div.ace_editor {
  font: @monospace-font;
  height: 200px;
  border-radius: 6px;
}


// responsive layout
//
// see e.g.
//    http://codepen.io/dudleystorey/pen/Geprd
//    http://exisweb.net/responsive-table-plugins-and-patterns
@media screen and (max-width: 500px) {
  table {
    thead {
      display: none;
    }
    td {
      display: block;
      padding: .6rem;
    }
    tbody td:before {
      content: attr(data-th);
      display: inline-block;
      width: 6.24rem;
      text-align: right;
      padding-right: 0.24rem;
    }
    tbody tr td:first-child {
      .plugin-owner {
        text-align: left;
      }
    }
  }

	.docs-list {
		ul {
			columns: 1;
		}
	}

  // Hide line numbers and syntax errors
  .ace_gutter {
    display: none;
  }
}
