
@import (inline) "../node_modules/purecss/build/pure.css";
@import (inline) "../node_modules/purecss/build/grids-responsive-min.css";

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic);

// colors
@active-color: rgb(255, 98, 40);
@link-color: rgb(50, 34, 230);

// tags
body {
  padding: 16px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

h4 {
  margin: 0px 1em 0px 0px;
  border-bottom: 1px solid gray;
}

h5 {
  font-size: 1em;
  margin: 5px;
  em {
    color: #888;
  }
}

a {
  text-decoration: none;
  color: @link-color;
  &:hover {
    color: @active-color;
  }
}

code {
  font-size: small;
  color: #586E75;
  background-color: #FDF6E3;
  padding: 0px 2px;

  pre & {
    display: block;
    background-color: transparent;
    border: 1px solid #aaa;
    border-radius: 5px;
  }
}

input[type=search] {
  border-radius: 25px;
  padding: 2px 0.62em;
  outline: none;
  &:focus {
    background-color: rgb(173, 244, 254);
  }
}

// responsive tables
// see e.g.
//    http://codepen.io/dudleystorey/pen/Geprd
//    http://exisweb.net/responsive-table-plugins-and-patterns
@media screen and (max-width: 500px) {
  table {
    thead {
      display: none;
    }
    td {
      display: block;
      padding: .6rem;
    }
    tbody td:before {
      content: attr(data-th);
      display: inline-block;
      width: 6.24rem;
      text-align: right;
      padding-right: 0.24rem;
    }
    tbody tr td:first-child {
      .plugin-owner {
        text-align: left;
      }
    }
  }

  // Hide line numbers and syntax errors
  .ace_gutter {
    display: none;
  }
}


// helpers
.pull-right {
  float: right;
}

.text-center {
  text-align: center;
}


// semantic
.headline {
  font-size: 4em;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translate(0, -50%);
  text-align: center;

  img {
    display: block;
    margin: 0 auto;
  }

  .logo {
    width: 80%;
  }

  .bound & {
    z-index: -1;
    opacity: 0;
    transition: 1s;
  }
}

.page {
  opacity: 0;
  .bound & {
    opacity: 1;
    transition: 1s 0.4s;
  }
}


.header {
  width: 100%;
  padding-top: 5px;
  border-bottom: 1px solid #aaa;
  min-height: 32px;

  a {
    font-size: 1.1em;
    padding: 4px 0.5em;
  }

  img {
    max-height: 26px;
  }
}


.footer {
  margin-top: 25px;
  height: 60px;

  .links {
    padding: 0px;
    line-height: 1.45em;
    list-style: none;
  }
}


.main {
  min-height: 60%;
  min-height: calc(~"100vh - 180px");
}


.ace_editor {
  height: 200px;
  border-radius: 6px;
}


.error {
  padding: 1em;
  border: 1px solid rgb(113, 11, 29);
  color: rgb(113, 11, 29);
  border-radius: 12px;
}

.example {
  padding: 10px 1em;
  box-shadow: inset -2px -2px 6px rgb(255, 193, 74),
              inset 2px 2px 6px #8f7b29;
  background-color: #e2b84c;
  min-height: 50px;
  border-radius: 5px;
  width: 90%;
  margin: 0px auto;
}

.example-centered {
  text-align: center;
}


.plugin-extras {
  color: #aaa;
  font-size: 0.95em;
}


.plugin-repo {
  text-align: right;
  line-height: 1.25em;
}


.plugin-owner {
  display: block;
  font-style: italic;
  font-size: 0.95em;


}
