
@import (inline) "../node_modules/purecss/build/pure.css";
@import (inline) "../node_modules/purecss/build/grids-responsive-min.css";


@active-color: rgb(255, 98, 40);
@link-color: rgb(50, 34, 230);

body {
  padding: 16px;
}

.headline {
  font-size: 4em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  img {
    display: block;
    margin: 0 auto;
  }

  .bound & {
    opacity: 0;
    transition: 1s;
  }
}

a {
  text-decoration: none;
  color: @link-color;
  &:hover {
    color: @active-color;
  }
}

.page {
  opacity: 0;
  .bound & {
    opacity: 1;
    transition: 1s 0.4s;
  }
}


@header-height: 60px;
.header {
  height: @header-height;
  position: fixed;
  top: 0;
  width: 100%;
  height: 48px;
  padding-top: 5px;

  a {
    padding: 4px 0.5em;
  }
}


.footer {
  height: 60px;
  width: 100%;

  .links {
    list-style: none;
    li {
      display: inline-block;
      line-height: 1.5em;
      padding: 2px 0.3em;
    }
  }
}


.main {
  margin-top: @header-height;
  min-height: 60%;
  min-height: calc(~"100vh - 180px");
}


.ace_editor {
    height: 200px;
}
