
// tags
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: "Lato", sans-serif;
}

body {
  padding: 16px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
	color: #666;
}

pre {
  font: @monospace-font;
  padding: 0px 1.618em;
}

h1 {
	text-align: center;
  font-family: @title-font-family;
}

h2 {
	color: rgb(130, 39, 0);
  font-family: @title-font-family;
}

h3 {
	color: rgb(198, 5, 5);
  font-family: @title-font-family;
}

h4 {
  margin: 0px 1em 0px 0px;
  border-bottom: 1px solid gray;
  font-family: @title-font-family;
}

h5 {
  font-family: @title-font-family;
  font-size: 1em;
  margin: 5px;
  em {
    color: #888;
  }
}

a {
  text-decoration: none;
  color: @link-color;
  &:hover {
    color: @active-color;
  }
}

code {
  font: @monospace-font;
  font-size: small;
  color: #586E75;
  background-color: #FDF6E3;
  padding: 0px 2px;
  white-space: normal;

  pre & {
    display: block;
    background-color: transparent;
    border: 1px dashed #aaa;
    border-radius: 5px;
  }

	a & {
		color: @link-color;
	}
}

progress {
  width: 100%;
  height: 10px;
}

input[type=search] {
  border-radius: 25px;
  padding: 2px 0.62em;
  outline: none;
  &:focus {
    background-color: rgb(173, 244, 254);
  }
}

// custom elements
live-example {
  display: block;
  white-space: normal;
  h3 {
    margin-bottom: 0px;
    text-align: center;
  }
}
