rules:
  indent:
    - 2
    - 2
  quotes: 0
  linebreak-style:
    - 2
    - unix
  semi:
    - 2
    - never
  strict: 0
  no-new: 0
  no-console: 0
env:
  es6: true
  browser: true
globals:
  ko: true
  $: true
  Page: true
  $root: true
  ace: true
