<template id='header'>
  <div class='header'>
    <div class='logo'>
      <img src='build/logo.svg' alt='Knockout.'/>
      {{# if: reloadProgress }}
        <progress title='Loading update' value="{{ reloadProgress }}" max='1'></progress>
      {{/ if }}
      {{# if: cacheIsUpdated }}
        <a class='pure-button button-refresh' href='#' data-bind='on.click: location.reload()'>
          <small>Page has updated</small><br/>
          <i class='fa fa-lg fa-refresh'></i>
          Click to refresh
        </a>
      {{/ if }}
    </div>

    <a href='/a/intro.html'>Intro</a>

    <a href='/a/docs.html'>Documentation</a>

    <!-- <a href='/a/api.html'>API</a> -->

    <a href='/a/plugins.html'>Plugins</a>

    <div class='search'>
      <input type='search' data-bind='textInput: search.query, hasFocus: true' placeholder='Type here to search the site'/>
    </div>
  </div>
</template>
