<template id='header'>
  <div class='header'>
    <img src='build/logo.svg' alt='Knockout.'/>

    <a href='/a/intro.html'>Intro</a>

    <a href='/a/docs.html'>Documentation</a>

    <a href='/a/api.html'>API</a>

    <a href='/a/plugins.html'>Plugins</a>

    <div class='text-right'>
      <i class='fa fa-search'></i>
      <input type='search' data-bind='textInput: search.query' placeholder='Search'/>
    </div>
  </div>

  {{# if: cacheIsUpdated }}
    <div class='cache-update'>
      <h5>This page has been updated.</h5>
      <a class='pure-button'href='#' data-bind='on.click: location.reload()'>
        <i class='fa fa-refresh'></i>
        Click to reload
      </a>
      &ensp;
      <a href='#' class='pure-button' data-bind='on.click: cacheIsUpdated(false)'>
        Later ...
      </a>
      <progress max=1 value='{{ reloadProgress }}'></progress>
    </div>
  {{/ if }}
</template>
