<template id='header'>
  <div class='header'>
    <div class='logo'>
      {{# ifnot: cacheIsUpdated }}
        <img src='build/logo.svg' alt='Knockout.'/>
        {{# if: reloadProgress }}
          <progress title='Loading update' value="{{ reloadProgress }}" max='1'></progress>
        {{/ if }}
      {{/ ifnot }}
      {{# if: cacheIsUpdated }}
        <div class='text-center'>
          Website updated.
          <a class='pure-button button-refresh' href='#' data-bind='on.click: location.reload()'>
            <i class='fa fa-lg fa-refresh'></i>
            Click to reload
          </a>
        </div>
      {{/ if }}
    </div>

    <a href='/a/intro.html'>Intro</a>

    <a href='/a/docs.html'>Documentation</a>

    <a href='/a/api.html'>API</a>

    <a href='/a/plugins.html'>Plugins</a>

    <div class='text-right'>
      <i class='fa fa-search'></i>
      <input type='search' data-bind='textInput: search.query' placeholder='Search'/>
    </div>
  </div>
</template>
